.table {
  position: relative;
  margin-left: 20%;
}

.main {
  margin-left: 25%;
  margin-top: 5%;
  color: black;
}

td {
  text-align: center;
  padding-left: 10px;
  padding-bottom: 35px;
}

#itemId {
  padding-left: 50px;
}

.thumbnail {
  height: 70px;
}


@media screen and (max-width: 1000px) {
  .table {
    position: relative;
    margin-left: 0%;
  }.main {
    margin-left: 5%;
    margin-top: 5%;
    color: black;
  }
}