.nav-bar{
  position: fixed;
  top: 15%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.less-padding{
  display: block;
  color: black;
  padding: 2px 16px;
  text-decoration: none;

}

li a:hover {
  cursor: pointer;
}

.mobile-nav{
  display: none;
}

.mobile-nav-bar{
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-bar{
    display: none;
  }

  .mobile-nav-bar{
    display: none;
    margin-left: 20%;
  }

  
}